body {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #475841;
}

#foodbook-header{
  width: 100%;
  height: 125px;
  background-color: #475841;
  font-size: 115px;
  text-align: center;
  font-family: 'Lobster', cursive;
  color: white;
  text-shadow: 5px 5px black;
  margin-bottom: 50px;
}

.nav-bar{
  width: 100%;
  height: 60px;
  font-size: 25px;
}

#nav-button{
  width: 25%;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 8%;
  text-align: center;
}

#pantry{
  width: 64%;
  height: 100%;
  float: left;
  border-color: black;
  margin: 15px;
  margin-left: 25px;
  margin-right: 0px;
}

.heading-style{
  text-align: center;
  font-size: 50px;
  margin: 10px;
}

#add-item{
  width: 31%;
  height: 100%;
  float: right;
  border-color: black;
  margin: 15px;
  margin-right: 0px;
  margin-left: 0px;
}

.search-bar input[type = text]{
  float: left;
  width: 80%;
  padding: 10px;
  border: thin;
  margin: 5px;
  margin-left: 10px;
  font-size: 25px;
}

.food{
  border-style: solid;
  border-width: thin;
  border-color: black;
  width: 100%;
  height: 50px;
  margin: 15px;
}

.addBtn {
  padding: 10px;
  height: 60px;
  width: 25%
  background: gray;
  float: left;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  border-radius:0;
  margin: 5px;
  border-width: thin;
  border-color: black;
}

.button-style{
  width: 90%;
  height: 130px;
  margin-left: 5%;
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: #9fb8ad;
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 85px;
  text-align: center;
  text-shadow: 3px 3px black;
}

.button-style2{
  width: 90%;
  height: 65px;
  margin-left: 5%;
  margin-top: 23px;
  margin-bottom: 10px;
  background-color: #9fb8ad;
  color: white;
  font-size: 44px;
  text-align: center;
}

.button-style3{
  width: 90%;
  height: 40px;
  margin-left: 5%;
  margin-top: 23px;
  margin-bottom: 0px;
  background-color: #9fb8ad;
  color: white;
  font-size: 35px;
  text-align: center;
  font-size: 30px;
}

.button-style4{
  width: 90%;
  height: 40px;
  margin-left: 5%;
  margin-top: 0px;
  margin-bottom: 30px;
  background-color: #9fb8ad;
  color: black;
  font-size: 21px;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

#button-wrapper{
  margin-bottom: 45px;
  margin-top: 0px;
}

#foodbook-paragraph{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 25px;
  text-align: left;
  margin: 25px;
  margin-top: 10px;
  margin-bottom: 0px;
}

#note{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 10px;
  text-align: left;
  margin: 25px;
  margin-top: 10px;
  margin-bottom: 0px;
}

#food-storage-section-title{
  font-size: 60px;
  text-align: left;
  font-family: 'Lobster', cursive;
  color: white;
  text-shadow: 3px 3px black;
  margin: 10px;
  margin-left: 25px;
  margin-top: 50px;
}

#pantry-section-title{
  font-size: 60px;
  text-align: center;
  font-family: 'Lobster', cursive;
  color: white;
  text-shadow: 3px 3px black;
  margin: 10px;
}

#small-section-title{
  font-size: 45px;
  text-align: center;
  font-family: 'Lobster', cursive;
  color: white;
  text-shadow: 2px 2px black;
  margin: 10px;
}

.food-storage-box{
  background-color: #9fb8ad;
  margin-left: 15px;
  margin-right: 15px;
}

.buffer-box{
  background-color: #9fb8ad;
  margin-left: 15px;
  margin-right: 15px;
  height: 60px;
  margin-top: 0px;
}

.buffer-box2{
  background-color: #9fb8ad;
  margin-left: 15px;
  margin-right: 15px;
  height: 60px;
  margin: 0;
  width: 100%;
}

#subtitle{
 text-align: center;
 font-size: 74px;
 color: white;
 font-family: 'Lobster', cursive;
}

#home-button{
  width: 9%;
  float: left;
  height: 125px;
}

#respond {
  margin-top: 40px;
}

#respond input[type='text'],
#respond input[type='subject'],
#respond textarea {
  margin-bottom: 10px;
  display: block;
  width: 100%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  line-height: 1.4em;
}

#user-comment{
  text-align: left;
  font-size: 25px;
  margin: 15px;
  border-style: solid;
  border-color: black;
  border-width: thin;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  background-color: #9fb8ad;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin: 10px;
  width: 45%;
}

.grid-item-expiration {
  background-color: #31979F;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin: 10px;
  width: 45%;
}

.grid-no-item {
  background-color: #9fb8ad;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin: 10px;
  width: 45%;
}

.grid-item-expiration .date-text{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.grid-item-expiration:hover .date-text{
	visibility: visible;
}

#video{
  width: 64%;
  height: 100%;
  float: left;
  border-color: black;
  margin: 15px;
  margin-left: 25px;
  margin-right: 0px;
  background-color: #9fb8ad;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #475841;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #31979F;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
